@using AdventureGame.Engine.Models.Actions
@using AdventureGame.Engine.Models.Round

@code {
    [Parameter] public EffectGroup Effects { get; set; } = new();
    [Parameter] public EventCallback OnChange { get; set; }

    private void AddEffect()
    {
        Effects.Effects.Add(new GameEffect());
        _ = OnChange.InvokeAsync();
    }

    private void RemoveEffect(GameEffect e)
    {
        Effects.Effects.Remove(e);
        _ = OnChange.InvokeAsync();
    }
}

<RadzenFieldset Text="Effects (Simple)" Style="width:100%">
    <RadzenStack Orientation="Orientation.Vertical" Gap="8">
        @if (Effects.Effects.Count == 0)
        {
            <div>No effects.</div>
        }
        <RadzenDataGrid Data="Effects.Effects" TItem="GameEffect" RowHover="true" Style="width:100%">
            <Columns>
                <RadzenDataGridColumn TItem="GameEffect" Title="Target Id">
                    <Template Context="e">
                        <RadzenTextBox Style="width:100%" @bind-Value="e.TargetId" Change="@(_=>OnChange.InvokeAsync())" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GameEffect" Title="Action">
                    <Template Context="e">
                        <RadzenTextBox Style="width:100%" @bind-Value="e.Action" Change="@(_=>OnChange.InvokeAsync())" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GameEffect" Title="Value">
                    <Template Context="e">
                        <RadzenTextBox Style="width:100%" @bind-Value="e.Value" Change="@(_=>OnChange.InvokeAsync())" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GameEffect" Title="Actions">
                    <Template Context="e">
                        <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(_ => RemoveEffect(e))" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <RadzenButton Icon="add" Text="Add Effect" Click="@(_ => AddEffect())" />
    </RadzenStack>
</RadzenFieldset>
